# Q 1 A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [10]:
import pandas as pd
from scipy.stats import shapiro
from scipy.stats import levene
from scipy.stats import ttest_ind

In [11]:
data = pd.read_csv("C:\\Users\\Pritee\\OneDrive\\Documents\\data science assignments\\assignments\\Hypothesis texting\\Cutlets.csv")
unit1 = data['Unit A']
unit2 = data['Unit B']

In [14]:
data

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [4]:
unit_A = data['Unit A']
unit_B = data['Unit B']

print(unit_A.describe())
print(unit_B.describe())

count    35.000000
mean      7.019091
std       0.288408
min       6.437600
25%       6.831500
50%       6.943800
75%       7.280550
max       7.516900
Name: Unit A, dtype: float64
count    35.000000
mean      6.964297
std       0.343401
min       6.038000
25%       6.753600
50%       6.939900
75%       7.195000
max       7.545900
Name: Unit B, dtype: float64

In [5]:
from scipy.stats import shapiro

stat_A, p_value_A = shapiro(unit_A)
stat_B, p_value_B = shapiro(unit_B)

print("Shapiro-Wilk Test - Unit A: p-value =", p_value_A)
print("Shapiro-Wilk Test - Unit B: p-value =", p_value_B)

Shapiro-Wilk Test - Unit A: p-value = 0.31998491287231445
Shapiro-Wilk Test - Unit B: p-value = 0.5225146412849426

In [6]:
from scipy.stats import levene

stat_var, p_value_var = levene(unit_A, unit_B)

print("Levene's Test for Equality of Variances: p-value =", p_value_var)

Levene's Test for Equality of Variances: p-value = 0.4176162212502553

In [7]:
from scipy.stats import ttest_ind

stat_t, p_value_t = ttest_ind(unit_A, unit_B)

print("Independent Two-Sample t-test: p-value =", p_value_t)

Independent Two-Sample t-test: p-value = 0.4722394724599501

In [ ]:
##a. Check for Normality using the Shapiro-Wilk test.

In [12]:
stat, p_value = shapiro(unit1)
if p_value > 0.05:
    print("Unit A data appears to be normally distributed.")
else:
    print("Unit A data does not appear to be normally distributed.")

Unit A data appears to be normally distributed.

In [13]:
#Hypothesis Test (Independent Samples t-test)
t_stat, p_value = ttest_ind(unit1, unit2)
alpha = 0.05

if p_value < alpha:
    print("Reject the null hypothesis. There is no  a significant difference in the diameter of the cutlets between Unit A and Unit B.")
else:
    print("Fail to reject the null hypothesis. There is significant difference in the diameter of the cutlets between Unit A and Unit B.")

Fail to reject the null hypothesis. There is significant difference in the diameter of the cutlets between Unit A and Unit B.

# the p-value from the t-test is less than 0.05, you reject the null hypothesis and conclude that there is a significant difference in the diameter of cutlets between the two units.