# Q.20)Calculate probability from the given dataset for the below cases Data _set: Cars.csv Calculate the probability of MPG of Cars for the below cases.  MPG <- Cars$MPG
a.	P(MPG>38)
b.	P(MPG<40)
c.    P (20<MPG<50)

In [1]:
import pandas as pd
import scipy.stats as stats

In [2]:
# Load the dataset
data = pd.read_csv(r"C:\Users\Pritee\OneDrive\Documents\data science assignments\basic statistics level 1\Cars.csv")

In [3]:
data

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [4]:
# Extract the MPG data
MPG = data['MPG']

In [5]:
MPG

0     53.700681
1     50.013401
2     50.013401
3     45.696322
4     50.504232
        ...
76    36.900000
77    19.197888
78    34.000000
79    19.833733
80    12.101263
Name: MPG, Length: 81, dtype: float64

In [6]:
# a. P(MPG > 38)
prob_a = 1 - stats.norm.cdf(38, loc=MPG.mean(), scale=MPG.std())
print("a. P(MPG > 38):", prob_a)

a. P(MPG > 38): 0.34759392515827137

In [7]:
# b. P(MPG < 40)
prob_b = stats.norm.cdf(40, loc=MPG.mean(), scale=MPG.std())
print("b. P(MPG < 40):", prob_b)

b. P(MPG < 40): 0.7293498762151609

In [8]:
# c. P(20 < MPG < 50)
prob_c = stats.norm.cdf(50, loc=MPG.mean(), scale=MPG.std()) - stats.norm.cdf(20, loc=MPG.mean(), scale=MPG.std())
print("c. P(20 < MPG < 50):", prob_c)

c. P(20 < MPG < 50): 0.8988689169682047